<div class="container">
    <div class="row">
        <div class="col-md-3 flex-container">
            <div class="flex-item">
            	<div class="flex-item-inner">
                	<!-- card -->
                	<a routerLink = "/branch">
                        <div class="card-front bg-violet">
                            <i class="fa fa-pie-chart fa-3x tile-icon icon-white"></i>
                            <h4>Branch</h4>
                            <p class="detail">View More details</p>
                        </div>
                      
                    </a>
                    <!-- /card -->
                </div>
            </div>
        </div>
        <div class="col-md-3 flex-container">

            <div class="flex-item">
            	<div class="flex-item-inner">
                    <a routerLink="/truck">
                        <div class="card-front bg-green">
                            <i class="fa fa-heart fa-3x tile-icon icon-white"></i>
                            <h4>Truck</h4>
                            <p class="detail">View More Details</p>
                        </div>
                       
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-3 flex-container">

            <div class="flex-item">
            	<div class="flex-item-inner">
                    <a routerLink="/truck">
                        <div class="card-front bg-green">
                            <i class="fa fa-heart fa-3x tile-icon icon-white"></i>
                            <h4>Account</h4>
                            <p class="detail">$XXX,XXX</p>
                        </div>
                       
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3 flex-container">

            <div class="flex-item">
            	<div class="flex-item-inner">
                    <a routerLink="/truck">
                        <div class="card-front bg-green">
                            <i class="fa fa-heart fa-3x tile-icon icon-white"></i>
                            <h4>GST</h4>
                            <p class="detail">$XXX,XXX</p>
                        </div>
                       
                    </a>
                </div>
            </div>
        </div> -->
           
    </div>
</div>