<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start">
    <mat-nav-list class="list-horizontal">

      <a *ngFor="let item of items" mat-list-item routerLinkActive #routerLinkActiveInstance="routerLinkActive"
        [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1"
        [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
        <mat-icon matListIcon class="nav-list-icon">{{item.icon}}</mat-icon>
        {{item.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      My Application
      <span class="toolbar-spacer"></span>
      My Account
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>